
{% if page.meta.comments %}
<div id="__comments">
    <script
            data-isso="http://teanotes.blog:8080/"
            data-isso-require-author="true"
            data-isso-require-email="false"
            data-isso-reply-to-self="false"
            data-isso-vote="true"
            data-isso-lang="en"
            src="http://teanotes.blog:8080/js/embed.min.js">
    </script>
    <hr><section id="isso-thread"><h2>Comments</h2></section>
    <noscript>Please enable JavaScript to view the comments.</noscript>
</div>
{% endif %}