#wrap {
    width: 450px;
    height: 380px;
    padding: 0;
    overflow: hidden;
}

#scaled-frame {
    width: 350px;
    height: 380px;
    overflow: hidden;
    border: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

#scaled-frame {
    zoom: 1.2;
    -moz-transform: scale(1.2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #scaled-frame {
        zoom: 1.2;
    }
}

.custom-html-slide {
    font-size: 40px;
    line-height: 45px;
    max-width: 400px;
    width: 100%;
    padding: 0 20px;
    margin: 50px auto 0;
    color: #fff;
}
.custom-html-slide a {
    color: #fff;
    text-decoration: underline;
}

.md-content__inner{
    width: 800px
}
